<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMS-Edit Delivery</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: black;
      color: white;
    }
    .dark-header {
      background-color: #1174de;
      color: white;
      padding: 40px 0;
      margin-bottom: 20px;
    }
    .custom-heading {
      margin-bottom: 80px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mb-4 dark-header">
      <div class="col text-center">
        <h1>INVENTORY MANAGEMENT SYSTEM</h1>
      </div>
    </div>
    <div class="row mb-4 custom-heading">
      <div class="col">
        <h2>Edit Delivery</h2>
        <form action="/update/<%= row.DELIVERY_ID %>" method="post">
          <div class="form-group">
            <label for="cusid">Customer ID:</label>
            <input type="text" class="form-control" id="cusid" name="cusid" value="<%= row.CUSTOMER_ID %>" required>
          </div>
          <div class="form-group">
            <label for="ordid">Order ID:</label>
            <input type="text" class="form-control" id="ordid" name="ordid" value="<%= row.ORDER_ID %>" required>
          </div>
          <div class="form-group">
            <label for="deldate">Delivery Date:</label>
            <input type="date" class="form-control" id="deldate" name="deldate" value="<%= row.DELIVERY_DATE %>" required>
          </div>
          <div class="form-group">
            <label for="delquant">Delivered Quantity:</label>
            <input type="text" class="form-control" id="delquant" name="delquant" value="<%= row.DELIVERY_QUANTITY %>" required>
          </div>
          <div class="form-group">
            <label for="itemid">Item ID:</label>
            <input type="text" class="form-control" id="itemid" name="itemid" value="<%= row.ITEM_ID %>" required>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>