<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IMS-Edit Item</title>
  <link rel="icon" type="image/x-icon" href="/favicon.png">

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
  <style>
    body {
      margin: 0;
      padding: 0;
      background-color: black;
      color: white;
    }
    .dark-header {
      background-color: #1174de;
      color: white;
      padding: 40px 0;
      margin-bottom: 20px;
    }
    .custom-heading {
      margin-bottom: 80px;
    }
  </style>
</head>
<body>
  <div class="container">
    <div class="row justify-content-center mb-4 dark-header">
      <div class="col text-center">
        <h1>INVENTORY MANAGEMENT SYSTEM</h1>
      </div>
    </div>
    <div class="row mb-4 custom-heading">
      <div class="col">
        <h2>Edit Item</h2>
        <form action="/update/<%= row.ITEM_ID %>" method="post">
          <div class="form-group">
            <label for="itemname">Item Name:</label>
            <input type="text" class="form-control" id="itemname" name="itemname" value="<%= row.ITEM_NAME %>" required>
          </div>
          <div class="form-group">
            <label for="itemuom">UOM:</label>
            <input type="text" class="form-control" id="itemuom" name="itemuom" value="<%= row.UOM %>" required>
          </div>
          <div class="form-group">
            <label for="itemreord">Reordering:</label>
            <input type="text" class="form-control" id="itemreord" name="itemreord" value="<%= row.REORDERING %>" required>
          </div>
          <div class="form-group">
            <label for="itemquant">Item Quantity:</label>
            <input type="text" class="form-control" id="itemquant" name="itemquant" value="<%= row.ITEM_QUANTITY %>" required>
          </div>
          <button type="submit" class="btn btn-primary">Update</button>
        </form>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>